@import '../bootstrap/bootstrap-5.0.2/scss/_functions.scss';
@import '../bootstrap/bootstrap-5.0.2/scss/_variables.scss';

// Theme colours
$colour-01: #ffb8cb;
$colour-02: #ff768e;

// Theme element colours
$main-navbar-background-color: $colour-01;
$main-page-heading-color: $colour-02;

// Site header
header.main-header {
  background-color: $main-navbar-background-color;

  img.logo {
    height: 70px;
  }
}

div.page-heading {
  background-color: $main-page-heading-color;
  margin-bottom: 20px;

  h1 {
    color: white;
  }
}

div#visual-button-group {
  margin-bottom: 20px;
}

// Select child element which has a class the same as the id of the parent
div#settings a.settings,
div#layout a.layout,
div#configure a.configure,
div#swimlanes a.swimlanes,
div#timelines a.timelines,
div#milestones a.milestones,
div#view a.view {
  pointer-events: none;
  background-color: tint-color($primary, 50%);
  color: $primary;
}
