<div class="main-toolbar btn-toolbar mb-2" role="toolbar" aria-label="Actions for visuals or plan">
    <div class="plan-button-group btn-group btn-group-sm me-2" role="group" aria-label="Plan actions">
        <a href="/pv/manage-visuals/{{ visual.plan.id }}" class="btn btn-info">Visuals</a>
    </div>
    <div class="visual-button-group btn-group btn-group-sm me-2" role="group" aria-label="Visual actions">
        <a href="/pv/edit-visual/{{ visual.id }}" class="settings btn btn-primary">Settings</a>
        <a id="download-image-button" class="settings btn btn-primary">Download As Image</a>
    </div>
</div>