<div id="visual-button-group" class="button-group" role="group">
    <a href="/pv/edit-visual/{{ visual.id }}" class="settings btn btn-primary">Edit Settings</a>
    <a href="/pv/layout-visual/{{ visual.id }}" class="layout btn btn-primary">Layout</a>
    <a href="/pv/configure-visual-activities/{{ visual.id }}" class="configure btn btn-primary">Select Activities</a>
    <a href="/pv/manage-swimlanes-for-visual/{{ visual.id }}" class="swimlanes btn btn-primary">Manage Swimlanes</a>
    <a href="/pv/manage-timelines-for-visual/{{ visual.id }}" class="timelines btn btn-primary">Manage Timelines</a>
    <a href="/pv/create-milestone-swimlane/{{ visual.id }}" class="milestones btn btn-primary">Create Milestone Swimlane</a>
    <a href="/pv/visual/{{ visual.id }}" class="view btn btn-primary">View Visual</a>
</div>
