{% extends "plan_visual_django/pv_base.html" %}
{% load static %}

{% block page_heading %}Layout Visual: {{ visual.name }}, File: {{ visual.plan.file_name }}{% endblock %}
{% block main_content %}

<div id="top-row-controls" class="flex-row">
  <div id="swimlane_data" class="panel">
      <table>
        <thead>
            <tr>
                <th colspan="2">Swimlanes</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>

  <div id="auto-layout-buttons" class="panel"></div>

  <div id="timeline-labels" class="panel">
  </div>
</div>
<div class="flex-row">

  <div id="left-column">
    <div id="add-remove-activities" class="panel"></div>
    <div id="layout-activity"  class="panel">
      <form>
        <table>
          <thead>
            <tr>
              <th colspan="2">Layout xxx</th>
            </tr>
          </thead>
          <tbody class="plan-activities">
            <tr class="activity-subheading"><th colspan="2">Plan Specific Details</th></tr>
            <tr><th>Id</th><td class="plan" id="unique_sticky_activity_id">xxx</td></tr>
            <tr><th>Activity Name</th><td class="plan" id="activity_name">xxx</td></tr>
            <tr><th>Milestone?</th><td class="plan" id="milestone_flag">Yes</td></tr>
            <tr><th>Start Date</th><td class="plan" id="start_date">Yes</td></tr>
            <tr><th>End Date</th><td class="plan" id="end_date">Yes</td></tr>
          </tbody>
          <tbody class="visual-activities">
            <tr class="activity-subheading"><th colspan="2">Visual Specific Details</th></tr>
            <tr><th>Swimlane?</th><td class="visual" id="swimlane">xxxxxx</td></tr>
            <tr><th>Track #</th><td class="visual" id="vertical_positioning_value"></td></tr>
            <tr><th>Height (tracks)</th><td class="visual" id="height_in_tracks"><input type="number" min="1" value="1" step="1"/></td></tr>
            <tr><th>Shape?</th><td class="visual" id="plotable_shape">xxxxxx</td></tr>
            <tr><th>Style?</th><td class="visual" id="plotable_style">xxxxxx</td></tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <div id="right-column">
    <div id="visual-header" class="panel">
      <p>Header For Visual</p>
    </div>
    <div id="visual-content" class="panel">

      <div class="canvas-stack">
        <canvas id="background" width="800px" height="600px"></canvas>
        <canvas id="swimlanes" width="800px" height="600px"></canvas>
        <canvas id="timelines" width="800px" height="600px"></canvas>
        <canvas id="activities" width="800px" height="600px"></canvas>
      </div>
    </div>
  </div>

</div>
<script src="{% static 'dist/bundle.js' %}"></script>
<script type="application/javascript">

    document.addEventListener("DOMContentLoaded", async function() {
        console.log("DOM Loaded...")
        // ToDo: Replace JS function with use of additional template block for template specific css
        window.addStylesheetToDOM('/static/plan_visual_django/css/layout-visual-3.css')
        
        // Get data for the visual based upon the id from body element
        window.visual_id = {{ visual.id }}
    
        const root_element = document.getElementById("add-remove-activities")
        console.log("About to call window.get_plan_activity_data")
            
        await window.get_plan_activity_data(window.visual_id)
        await window.get_visual_activity_data(window.visual_id)
        const plan_tree = await createPlanTree()
        root_element.appendChild(plan_tree)
        
        // Update swimlane panel with swimlanes for this visual in sequence order
        console.log("Updating swimlane panel...")
        const swimlane_element = document.getElementById("swimlane_data")
        await window.update_swimlane_data(swimlane_element, window.visual_id)
        
        console.log("Plotting visual")
        window.plot_visual()
  })

</script>
{% endblock %}