{% extends "plan_visual_django/pv_base.html" %}
{% load static %}

{% block page_heading %}Visual {{ planvisual.name }}{% endblock %}
{% block main_content %}
    {% include 'plan_visual_django/_visual_buttons.html' %}
    {% include 'plan_visual_django/_visual_auto_buttons.html' %}

    <div class="container">
    <div class="row">
      <div id="layout" class="col-5">
        <h2>Activities</h2>
        <div id="activities" class="table-wrapper" style="height: 400px; overflow-y: scroll">
          <table id="activities_table" class="table table-sm">
          </table>
        </div>
        <div>
          <h2>Properties</h2>
            <div id="activities" class="table-wrapper" style="height: 400px; overflow-y: scroll">
            <table id="layout_activities" class="table table-sm">
              <tr class="activity_id"><th>Activity</th><td class="value"></td></tr>
              <tr class="activity_name"><th>Activity</th><td class="value"></td></tr>
              <tr class="duration"><th>Duration</th><td class="value"></td></tr>
              <tr class="milestone"><th>Milestone?</th><td class="value"></td></tr>
              <tr class="start_date"><th>Start</th><td class="value"></td></tr>
              <tr class="end_date"><th>End</th><td class="value"></td></tr>
              <tr class="style"><th><label for="style_option">Style</label></th><td class="value"></td></tr>
              <tr class="track_number"><th><label for="track">Track #</label></th><td class="value"><input type="number" name="track_number" id="track" min="1" step="1" value=""></td></tr>
            </table>
            </div>
        </div>
      </div>
      <div id="plan_visual" class="col-7">
        <h2>Visual</h2>
        <canvas id="visual" width="800" height="600" style="border: 2px solid black"></canvas>
      </div>
    </div>
  </div>
    <script src="{% static 'dist/bundle.js' %}"></script>
    <script type="application/javascript">
        body_element = document.getElementsByTagName("body")[0];
        body_element.setAttribute("id", {{ visual.id }});
        document.onkeydown = window.checkKey;
        window.addEventListener('load', function() {
            console.log("window loaded");
            window.get_activities_from_server({{ visual.id }});
            }
        );
    </script>
{% endblock %}