
    {% extends "plan_visual_django/pv_base.html" %}
    {% load static %}
    
    {% block main_content %}
     <div id="top-row-controls" class="row mb-3">
        <div id="swimlane_data" class="col-4 top-row-control">
            <div class="container p-0">
                <table class="table table-sm table-fixed table-secondary">
                    <thead class="table-primary">
                        <tr>
                            <th colspan="2">Swimlanes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label"><div class="text-truncate">Swimlane 1 - long to test truncation</div></td>
                            <td class="text-end">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove blank lines"><i class="bi bi-arrows-collapse"></i></button>
                                    <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Auto layout"><i class="bi bi-aspect-ratio"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><div class="text-truncate">Swimlane 2</div></td>
                            <td class="text-end">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove blank lines"><i class="bi bi-arrows-collapse"></i></button>
                                    <button class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Auto layout"><i class="bi bi-aspect-ratio"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="activity_data" class="col-4 top-row-control">
            <div class="container p-0">
                <table class="table table-sm table-fixed table-secondary">
                    <thead class="table-primary">
                        <tr>
                            <th colspan="2">Activity Properties</th>
                        </tr>
                    </thead>
                    <tbody id="plan-activity-properties">
                        <tr><th class="text-primary fst-italic" colspan="2">Plan Attributes (not editable)</th></tr>
                        <tr>
                            <th class="align-middle text-end" id="unique_sticky_activity_id">Id</th>
                            <td class="text-start">AAA-01</td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="activity_name">Name</th>
                            <td class="text-start"><div class="text-truncate">Activity 1 - this is long to test truncation</div></td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="milestone_flag">Milestone?</th>
                            <td class="text-start"><i class="bi bi-check"></i></td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="start_date">Start Date</th>
                            <td class="text-start">2023-MAR-28</td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="end_date">End Date</th>
                            <td class="text-start">2023-OCT-25</td>
                        </tr>
                    </tbody>
                    <tbody id="visual-activity-properties">
                        <tr><th class="text-primary fst-italic" colspan="2">Visual Attributes</th></tr>
                        <tr>
                            <th class="align-middle text-end" id="swimlane">Swimlane</th>
                            <td class="text-start">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change Swimlane
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Swimlane 1</a></li>
                                        <li><a class="dropdown-item" href="#">Swimlane 2</a></li>
                                        <li><a class="dropdown-item" href="#">Swimlane 3</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="vertical_positioning_value">Track</th>
                            <td class="text-start undefined">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="height_in_tracks">Height</th>
                            <td class="text-start undefined">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="plotable_shape">Shape</th>
                            <td class="text-start undefined">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change Shape
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">DIAMOND</a></li>
                                        <li><a class="dropdown-item" href="#">RECTANGLE</a></li>
                                        <li><a class="dropdown-item" href="#">ROUNDED RECTANGLE</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="align-middle text-end" id="plotable_style">Style</th>
                            <td class="text-start undefined">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change Style
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Style 1</a></li>
                                        <li><a class="dropdown-item" href="#">Style 2</a></li>
                                        <li><a class="dropdown-item" href="#">Style 3</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="timeline_data" class="col-4 top-row-control">
            <div class="container p-0">
                <table class="table table-sm table-fixed table-secondary">
                    <thead class="table-primary">
                        <tr>
                            <th colspan="2">Timelines</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="label"><div class="text-truncate">Timeline 1 - long to test truncation</div></td>
                            <td class="text-end">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label"><div class="text-truncate">Timeline 2 - also a very long one</div></td>
                            <td class="text-end">
                                <div class="btn-group btn-group-sm up-down-control" role="group" aria-label="Basic example">
                                    <button class="btn btn-secondary"><i class="bi bi-caret-up-fill"></i></button>
                                    <button class="btn btn-secondary"><i class="bi bi-caret-down-fill"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>       
    {% endblock %}
