{% extends "plan_visual_django/pv_base.html" %}

{% block page_heading %}Configure Activities For Visual{% endblock %}
{% block main_content %}
    <div id="configure">
        {% include 'plan_visual_django/_visual_buttons.html' %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="activity-table table responsive table-sm w-auto">
                <thead>
                    <tr>
                        {% for heading in headings %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                        <th>In Visual?</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity_data in plan_activities %}
                    <tr class="align-middle level-0{{ activity_data.field_list.level }}">
                        <td>{{ activity_data.unique_sticky_id }}</td>
                        <!-- Layout fields for each activity from the plan -->
                        {% for name, value in activity_data.field_list.items %}
                            <!-- For enalbed flag add a checkbox to enable/disable the activity for this visual -->
                            {% if name == "enabled" %}
                                <td>
                                    <label for="{{ activity_data.unique_sticky_id }}"></label>
                                    <input id="{{ activity_data.unique_sticky_id }}"
                                           type="checkbox" onchange="add_delete_activity(this)"
                                           {{ value|yesno:"checked,unchecked" }}>
                                </td>
                            {%  else %}
                                <td>{{ value|safe }}</td>
                            {% endif %}
                        {% endfor %}
                        <!-- Add widgets to add or remove activities for this visual -->
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script>
        function add_delete_activity(element) {
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

            var url_string = "/api/v1/visual_activities/{{ visual.id }}/" + element.id + "/"

            var vid = {{ visual.id }}
            if (element.checked === true) {
                console.log(element.id + " is checked")
                console.log("URL: " + url_string)
                axios.put(url_string)
                .then((response) => {
                        console.log(response)
                    },
                    (error) => {
                        console.log(error)
                    }
                );
            } else {
                console.log(element.id + " is not checked (remove from visual")
                console.log("URL: " + url_string)
                axios.delete(url_string)
                .then((response) => {
                        console.log(response)
                    },
                    (error) => {
                        console.log(error)
                    }
                );
            }
        }
    </script>
{% endblock %}