{% extends "plan_visual_django/pv_base.html" %}

{% block page_heading %}Format and Layout Visual{% endblock %}
{% block main_content %}
    <div id="layout">
        {% include 'plan_visual_django/_visual_buttons.html' %}
        {% include 'plan_visual_django/_visual_auto_buttons.html' %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.non_form_errors.as_ul }}
                {{ formset.management_form }}

                <table id="formset" class="table small form w-auto">
                <input type="submit" name="Submit">

                {% for form in formset.forms %}
                  {% if forloop.first %}
                  <thead>
                      <tr>
                        {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                      </tr>
                  </thead>
                  {% endif %}
                  <tr class="{% cycle row1 row2 %}">
                  {% for field in form.visible_fields %}
                    <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                      {% for hidden in form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                    {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                    </td>
                  {% endfor %}
                  </tr>
                {% endfor %}
                </table>
{#                <table class="table">#}
{#                    {{ formset }}#}
{#                </table>#}

                <input type="submit" name="Submit">
            </form>
        </div>

    </div>
{% endblock %}

