{% extends "plan_visual_django/pv_base.html" %}

{% block main_content %}
    <div class="row">

        {% for filetype_object, mapping_for_file_type in ordered_mapped_fields %}
            <div class="col-sm-4">
                <div class="card h-100">
                    <div class="card-body bg-secondary-subtle">
                    <h5 class="card-title">{{ filetype_object.title}}</h5>
                    <p style="height: 100px; overflow-y: auto;" class="card-text mb-auto">{{ filetype_object.description }}</p>
                    <table class="table">
                        {%  for field_mapping in mapping_for_file_type %}
                            <tr>
                                <th class="text-end">{{ field_mapping.0.name }}</th>
                                <td>{{ field_mapping.1.input_field_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endblock %}