{% extends "plan_visual_django/pv_base_new_25.html" %}
{% load static %}

{% block page_heading %}Manage Visuals For Plan: {{ plan.plan_name }}, File: {{ plan.file_name }}{% endblock %}

{% block main_content %}
    <table class="table table-sm w-auto mb-5">
        <thead>
            <tr>
                <th colspan="2" class="table-light text-center">Plan Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for summary_data in plan_summary_data_display %}
                <tr>
                    <th scope="row">{{ summary_data.0 }}</th>
                    <td>{{ summary_data.1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<div class="btn-group" role="group">
    <!-- Add auto created visual -->
    <button type="button" class="btn btn-primary" onclick="location.href='/pv/add-auto-visual/{{ plan.id }}'">Add Auto Visual</button>

    <!-- Add Default visual -->
    <button type="button" class="btn btn-primary" onclick="location.href='/pv/add-default-visual/{{ plan.id }}'">Add Default Visual</button>
</div>
    <table class="table table-sm w-auto">
        <thead>
            <tr>
                <th>Visual Name</th>
            </tr>
        </thead>
        <tbody>
        {% for visual in visuals %}
            <tr class="d-flex align-items-center">
                <td>{{ visual.name }}</td>
                <td><a href="/pv/edit-visual/{{ visual.id }}" class="badge bg-primary">Edit Settings</a></td>
                <td><a href="{% url 'manage-swimlanes' visual.id %}" class="badge bg-primary">Manage Swimlanes</a></td>
                <td><a href="{% url 'plot-visual' visual.id %}" class="badge bg-primary">View Visual</a></td>
                <td><a href="{% url 'delete-visual' visual.id %}" class="badge bg-danger" onclick="return confirm('Are you sure you want to delete this visual?')">Delete</a></td>
                <td><a href="{% url 'plot-visual' visual.id %}"><img width="200px" alt="visual thumbnail" id="thumbnail-{{ visual.id }}" src="" /></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="{% static 'dist/bundle.js' %}"></script>
    <script type="application/javascript">
    document.addEventListener("DOMContentLoaded", async function() {
        window.addVisualImages()
    });    
    </script>

{% endblock %}