{% extends "plan_visual_django/pv_base_new.html" %}

{% block page_heading %}Manage Visuals For Plan: {{ plan.plan_name }}, File: {{ plan.file_name }}{% endblock %}

{% block main_content %}
    <table class="table table-sm w-auto mb-5">
        <thead>
            <tr>
                <th colspan="2" class="table-light text-center">Plan Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for summary_data in plan_summary_data_display %}
                <tr>
                    <th scope="row">{{ summary_data.0 }}</th>
                    <td>{{ summary_data.1 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="location.href='/pv/add-visual/{{ plan.id }}'">Add Visual</button>
    <table class="table table-sm w-auto">
        <thead>
            <tr>
                <th>Visual Name</th>
            </tr>
        </thead>
        <tbody>
        {% for visual in visuals %}
            <tr>
                <td>{{ visual.name }}</td>
                <td><a href="/pv/edit-visual/{{ visual.id }}" class="badge bg-primary">Edit Settings</a></td>
                <td><a href="/pv/layout-visual/{{ visual.id }}" class="badge bg-primary">Layout</a></td>
                <td><a href="/pv/configure-visual-activities/{{ visual.id }}" class="badge bg-primary">Select Activities</a></td>
                <td><a href="/pv/manage-swimlanes-for-visual/{{ visual.id }}" class="badge bg-primary">Manage Swimlanes</a></td>
                <td><a href="/pv/manage-timelines-for-visual/{{ visual.id }}" class="badge bg-primary">Manage Timelines</a></td>
                <td><a href="/pv/create-milestone-swimlane/{{ visual.id }}" class="badge bg-primary">Create Milestone Swimlane</a></td>
                <td><a href="/pv/visual/{{ visual.id }}" class="badge bg-primary">View Visual</a></td>
                <td><a href="/pv/delete-visual/{{ visual.id }}" class="badge bg-danger" onclick="return confirm('Are you sure you want to delete this visual?')">Delete</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}