/node_modules/
/plan_files/

# .env used for sensitive env variables used in building docker images so not stored in repo.
.env

# Ignore the build directory
/plan_visual_django/static/dist/
/**/.ds_store
/**/__pycache__/
/logs/

db.sqlite3
db.sqlite3-journal
/db.sqlite3-backup
/data/
/docker-build-logs/
/plan_visual_django/tests/resources/input_files/excel_plan_files/~$PV-Test-02.xlsx
