/node_modules/
/plan_files/

# .env used for sensitive env variables used in building docker images so not stored in repo.
.env

# Ignore the build directory
/plan_visual_django/static/dist/
/**/.ds_store
/**/__pycache__/
/logs/

db.sqlite3
db.sqlite3-journal
/db.sqlite3-backup
/data/
/docker-build-logs/
/ui_src/manage_plan_panel.js
/ui_src/manage_visual.js
/ui_src/plan_visualiser_api.js
/ui_src/plot_visual.js
/ui_src/index.js
/ui_src/plot_shapes.js
/ui_src/visual.js
/ui_src/utilities.js
