asgiref==3.8.1
bleach==6.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
colour==0.1.5
coverage==7.4.4
ddt==1.7.2
defusedxml==0.7.1
Django==5.2b1
django-cors-headers==4.3.1
django-markdownify==0.9.5
djangorestframework==3.15.1
et_xmlfile==2.0.0
exceptiongroup==1.2.0
gunicorn==21.2.0
httpie==3.2.3
idna==3.10
iniconfig==2.0.0
Markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
model-bakery==1.17.0
multidict==6.1.0
openpyxl==3.1.2
packaging==24.0
pillow==11.1.0
pluggy==1.4.0
psycopg2-binary==2.9.10
Pygments==2.19.1
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.3.3
setuptools==75.8.2
six==1.16.0
sqlparse==0.4.4
tinycss2==1.4.0
tomli==2.0.1
typing_extensions==4.11.0
urllib3==2.0.7
webencodings==0.5.1
