{% extends "plan_visualiser_django/pv_base.html" %}
{% block page_heading %}Configure Activities For Visual{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="/pv/layout-visual/{{ visual_id }}">Layout</a>
            <table class="table">
                <thead>
                    <tr>
                        {% for heading in headings %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                        <th>In Visual?</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity_data in plan_activities %}
                    <tr>
                        <td>{{ activity_data.unique_sticky_id }}</td>
                        <!-- Layout fields for each activity from the plan -->
                        {% for name, value in activity_data.field_list %}
                            {% if name == "enabled" %}
                                <td>
                                    <label for="{{ activity_data.unique_sticky_id }}"></label>
                                    <input id="{{ activity_data.unique_sticky_id }}"
                                           type="checkbox" onchange="add_delete_activity(this)"
                                           {{ value|yesno:"checked,unchecked" }}>
                                </td>
                            {%  else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                        <!-- Add widgets to add or remove activities for this visual -->
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <script>
        function add_delete_activity(element) {
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

            url_string = "/api/v1/visual_activities/{{ visual_id }}/" + element.id + "/"

            vid = {{ visual_id }}
            if (element.checked === true) {
                console.log(element.id + " is checked")
                console.log("URL: " + url_string)
                axios.put(url_string)
                .then((response) => {
                        console.log(response)
                    },
                    (error) => {
                        console.log(error)
                    }
                );
            } else {
                console.log(element.id + " is not checked (remove from visual")
                console.log("URL: " + url_string)
                axios.delete(url_string)
                .then((response) => {
                        console.log(response)
                    },
                    (error) => {
                        console.log(error)
                    }
                );
            }
        }
    </script>
{% endblock %}